body {
	background-color: #dae5f3;
	font-family: "Segoe UI", "Arial", "Tahoma", "Verdana";
	font-size: 14px;
}
#page {
	position: relative;
	width: 930px;
	min-height: 800px;
	margin: 5px auto 0px;
	border: 1px solid silver;
	background-color: #fff;
}
#menu {
	position: absolute;
	top: 317px;
	height: 23px;
	margin: 0;
}
#menu a {
	color: #e6f1ff;
	text-decoration: none;
}
ul#menu li {
	display: inline-block;
	padding: 2px 10px 2px 10px;
}
#content {
	margin: 30px 30px 60px 30px;
	text-align: justify;
}
#signout {
	padding: 2px;
	text-decoration: none;
	font-weight: 700;
	color: red;
}
#footer {
	position: absolute;
	bottom: 0;
	background-color: rgba(70,123,197,0.85);
	color: #e6f1ff;
	text-align: right;
	font-size: 10px;
	width: 100%;
	height: 30px;
	margin: 5px auto 0px;
	border-top: 1px solid silver;
}
/*----------------------------------------------------------------------------*/

.flash {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}

.flash.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.flash.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

form > ul.error {
	list-style-type: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
/*----------------------------------------------------------------------------*/
h1 {
	font-size: 30px;
	text-align: center;
	color: #233d62;
	font-weight: 400;
}
h2 {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-weight: 400;
	text-align: center
}
.button {
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	border-radius: 2px;
}
.blocked {
	border: 1px solid transparent;
	border-radius: 4px;
	margin: 20px;
	padding: 15px;
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
	font-weight: 700;
}
/*----------------------------------------------------------------------------*/
#features {
	padding: 20px;
	margin: 10px 10px 10px 40px;
}
#features li {
	margin: 10px;
}
#right-panel {
	float: right;
	text-align: center;
	margin-left: 20px;
}
.version {
	padding: 10px;
	margin-top: 15px;
	width: 160px;
	border: 1px solid silver;
}
#getitnow {
	background-color: #233d62;
	padding: 7px;
	margin: 10px auto 0px;
	text-align: center;
	width: 100px;
	color: #ffffff;
}
#getitnow a {
	color: #e6f1ff;
	text-decoration: none;
}
#stats {
	padding: 10px;
	margin-top: 15px
}
/*----------------------------------------------------------------------------*/
#registry,
#registry tr,
#registry td {
	font-family: "Segoe UI", "Arial", "Tahoma", "Verdana";
	font-size: 14px;
	border: 1px solid black;
	border-spacing: 0px;
	border-collapse: collapse;
	margin: 10px;
	padding: 5px;
}
.question {
	font-weight: 700;
	padding-top: 10px;
}
.answer {
	list-style-type: none;
}
/*----------------------------------------------------------------------------*/
#donate {
	margin: 40px auto;
	text-align: center;
	max-width: 45%;
	background: none repeat scroll 0 0 #d1f5d2;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #c2eac3 inset;
	padding: 1em;
	text-indent: 0 !important;
}

#donate form div {
	padding: 1em;
}
#donate form label {
	width: 6em;
	display: inline-block;
	padding: 4px;
}
#donate form input {
	width: 100%;
}
#donationinfo {
	padding-left: 20px;
}
/*----------------------------------------------------------------------------*/
.featdescr td {
	text-align: justify;
	padding-bottom: 40px;
}
.preview-right {
	padding-top: 20px;
	padding-left: 20px;
}
.preview-left {
	padding-top: 20px;
	padding-right: 20px;
}
/*----------------------------------------------------------------------------*/
.password-link {
	font-size: 8pt;
	display: block;
}